.movieRow {
  margin-bottom: 30px;
}

.movieRow h2 {
  margin: 0 0 0 30px;
}

.movieRow--listarea {
  overflow-x: hidden;
  padding: 0 30px;
}

.movieRow--card {
  display: inline-block;
  width: 31.6vh;
}

.movieRow--card img {
  width: 100%;
  transform: scale(0.9);
  transition: all ease 0.4s;
  z-index: -999;
  /* opacity: 0; */
  border-radius: 15px;
}

.movieRow--card img:hover {
  transform: scale(1);
  opacity: 0.2;
  cursor: pointer;
}

.movieRow--info {
  width: inherit;
  height: 100%;
  z-index: 9;
  transform: scale(0.9);
}

.movieRow--details {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #000;
  opacity: 0;
  z-index: 99;
  transition: all ease 0.4s;
  border-radius: 15px;
}

.movieRow--info:hover > img {
  transform: scale(1);
}

.movieRow--details:hover {
  opacity: 0.9;
  transform: scale(1) translate(-50%, -50%);
  cursor: pointer;
}

.movieRow--details h2 {
  margin: 25px 0 0 0;
}

.movieRow--average {
  color: greenyellow;
  margin: 25px 0 0 0;
}

.movieRow--check {
  border-radius: 25px;
  border: 2px solid gray;
  padding: 10px 20px;
  background-color: transparent;
  margin: 25px 0 0 0;
  transition: all ease 0.2s;
  text-decoration: none;
  color: #fff;
}

.movieRow--check:hover {
  background-color: #12b7dd;
}

@media (max-width: 760px) {
  .movieRow--list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .movieRow--details {
    opacity: 0.9;
  }
}
